body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    text-align: center;
}

.countdownTitle {
    margin-top: 4em;
    font-size: 30px;
}

.countdownValue {
    margin-top: 25%;
    font-size: 60px;
}

ul {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.countdownTime {
    font-style: italic;
}

@media all and (max-width: 768px) {
    li {
        font-size: 1.13rem;
        padding: 0.75rem;
    }

    li span {
        font-size: 3.5rem;
    }
}


/** ---------- Toggle button ---------- **/
.info-toggle-container {
    margin-top: 3vh;
    margin-left: 3vh;
    text-align: left;
}

.info-toggle input {
    position: absolute;
    opacity: 0;
}

/**
   * 1. Adjust this to size
   */

.info-toggle {
    display: inline-block;
    font-size: 100%;
    /* 1 */
    height: 1em;
    width: 2em;
    border-radius: 1em;
    border: solid 1px #000;
}

.info-toggle div {
    height: 0.9em;
    width: 0.9em;
    margin-left: -0.03em;
    border-radius: 1em;
    border: solid 1px #000;
    background: white;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.info-toggle input:checked+div {
    background: #000;
    padding-left: 0.03em;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}