body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    text-align: center;
}

#countdownValue {
    margin-top: 50vh;
    font-size: 60px;
}

#countdownTime {
    font-style: italic;
}